# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Modelos (archivos pesados)
models/*.pkl
models/*.h5
models/*.joblib

# IDEs
.vscode/
.idea/

# Configuración
config/

# Documentación
!doc/*.tex
!doc/*.pdf
!doc/*.bib
!doc/figures/
doc/
*.zip

# Logs
logs/

# Environment
.env
.ipynb_checkpoints/

# Papers
references/papers/Evaluation of LSTM Networks for*.pdf

# Data
data/processed/*.csv

