# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Modelos (archivos pesados)
models/*.pkl
models/*.h5
models/*.joblib

# IDEs
.vscode/
.idea/

# Configuración
config/

# Documentación
!doc/*.tex
!doc/*.pdf
!doc/*.bib
!doc/figures/
doc/
